<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<link rel="stylesheet" type="text/css"
      href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
    <meta charset="utf-8">
    <title>Modifier des Produits</title>
</head>
<body>
<div th:replace="template"></div>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                Modifier des Medicaments
            </div>
            <div class="card-body">
                <form th:action="@{saveMedicament}" method="post">
                    <div class="form-group">
                        <label class="control-label" hidden>ID Medicament :</label>
                        <input type="hidden" name="idMedicament" class="form-control" th:value="${medicament.idMedicament}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nom Medicament :</label>
                        <input type="text" name="nomMedicament" class="form-control" th:value="${medicament.nomMedicament}" />
                        <span th:errors='${medicament.nomMedicament}' class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Prix Medicament :</label>
                        <input type="text" name="prixMedicament" class="form-control" th:value="${medicament.prixMedicament}" />
                        <span th:errors='${medicament.prixMedicament}' class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">date fabrication :</label>
                        <input type="date" name="dateFabrication" class="form-control" th:value="${medicament.dateFabrication}" />
                        <span th:errors='${medicament.dateFabrication}' class="text-danger"></span>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
